<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.shutterstock.com/image-vector/online-cinema-banner-web-films-260nw-1297012507.jpg)">
  <%= @list.name %>
</div>
<div class="container">
  <div>
    <p>Bookmarks: </p>
    <% @list.bookmarks.each do |bkm| %>
      <h3><%= bkm.movie.title %></h3> <br>
      <%= bkm.movie.overview %> <br>
      <%= bkm.movie.rating %> <br>
      <h4>My comment:</h4>
      <%= bkm.comment %>
    <% end %>
  </div>
  <div>
    <%= link_to 'Add bookmark to list', new_list_bookmark_path(@list) %>
    <%= link_to 'Back to all lists', lists_path %>
  </div>
</div>
